:root {
    --brand-color: black;
    --on-brand-color: white;

    /* ratio 4/3 */
    --scale-s: 0.75;
    --scale-m: 1;
    --scale-l: 1.3333333333;
    --scale-xl: 1.7777777778;
    --scale-xxl: 2.3703703704;
    --scale-xxxl: 3.1604938272;

    --size-s: calc;
    --size-m: calc(1rem * var(--scale-m));
    --size-l: calc(1rem * var(--scale-l));
    --size-xl: calc(1rem * var(--scale-xl));
    --size-xxl: calc(1rem * var(--scale-xxl));
    --size-xxxl: calc(1rem * var(--scale-xxxl));

    --banner-background-color: var(--brand-color);
    --banner-text-color: var(--on-brand-color);

    --content-background-color: var(--on-brand-color);
    --content-text-color: black;
    --content-text-color-active: var(--brand-color);
    --content-text-color-hover: var(--content-text-color-active);
    --content-text-font: Arial, Helvetica, sans-serif;
    --content-text-weight-strong: bold;
    --content-text-leading: 1.6;
    --content-text-measure: 65ch;

    --content-flow-spacing: 1em;

    --content-list-indent: 2rem;
    --content-list-spacing: .25rem;

    --display-text-leading: 1.2;
    --display-text-font: var(--content-text-font);
    --display-text-color: var(--brand-color);
    --display-text-variant-strong: small-caps;
    --display-text-weight: medium;
    --display-text-weight-strong: bold;

    --display-flow-spacing: 1em;

    --exhibit-border-color: var(--brand-color);
    --exhibit-background-color: var(--content-background-color);
    --exhibit-text-color: var(--brand-color);

    --heading-1-size: var(--size-xxl);
    --heading-2-size: var(--size-xl);
    --heading-3-size: var(--size-l);
    --main-inline-size: var(--content-text-measure);
}

html {
    background-color: var(--content-background-color);
    font-family: var(--content-text-font);
    font-size: var(--size-m);
    line-height: var(--content-text-leading);
}

body {
    display: grid;
    /* Push footer to bottom */
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;

    >header,
    >footer {
        padding: var(--size-m);

        background-color: var(--banner-background-color);
        color: var(--banner-text-color);
        text-align: center;
    }

    >header {
        .title {
            font-family: var(--display-text-font);
            font-variant: var(--display-text-variant-strong);
            font-size: var(--size-xxxl);
        }

        nav {
            ul {
                column-gap: 1ch;
                display: flex;
                flex-wrap: wrap;

                padding: 0;

                justify-content: center;

                list-style-type: none;
            }
        }
    }
}

main {
    margin-inline: auto;
    padding: var(--content-flow-spacing);
    max-inline-size: var(--content-text-measure);

    /* Page title */
    h1 {
        max-inline-size: 100%;

        color: var(--display-text-color);
        font-weight: var(--display-text-weight-strong);
        font-variant: var(--display-text-variant-strong);
    }
}

blockquote {
    border: 1px solid var(--exhibit-border-color);
    margin-block: 1rem;
    padding: 1rem;

    background-color: var(--exhibit-background-color);
    color: var(--exhibit-text-color);
}

a {
    color: inherit;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: var(--display-flow-spacing);

    color: var(--display-text-color);
    font-family: var(--display-text-font-strong);
    font-weight: var(--display-text-weight);
    line-height: var(--display-text-leading);
}

img {
    block-size: auto;
}

:is(ul, ol) {
    padding-inline-start: var(--content-list-indent);
}

:is(ul, ol, li) {
    margin-block-start: var(--content-list-spacing);
}

p {
    margin-block: var(--content-flow-spacing);
}
