<!-- vim: set filetype=gotmpl: -->
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>

<head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <title>{{ .Title }} | {{ site.Title }}</title>
    <link href='/favicon.ico' rel='icon' />
    {{ range .Site.Params.stylesheets }}
    <link rel='stylesheet' href='{{ . }}'>
    {{ end }}
    {{ with .Params.stylesheets }}
    {{ range .section }}
    <link rel='stylesheet' href='{{ . }}'>
    {{ end }}
    {{ range .page }}
    <link rel='stylesheet' href='{{ . }}'>
    {{ end }}
    {{ end }}

</head>

<body>
    <header>
        <p href='/'>{{ site.Title }}</p>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    <a href='{{ .URL }}'>{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </header>
    {{ block "main" . }}
    <main>
        {{ block "heading" . }}
        {{ partial "render/page/header" . }}
        {{ end }}
        {{ block "content" . }}
        {{ partial "render/page/content" . }}
        {{ end }}
    </main>
    {{ end }}
    <footer>
        <div role='copyright'>
            {{ block "copyright" . }}
            {{ .Site.Copyright }}
            {{ end }}
        </div>
    </footer>
</body>

</html>
