{{/* vim: set filetype=gotmpl: */}}
<!DOCTYPE html>
<html lang='{{ .Site.Language.Locale | default "jp-jp" }}'>

<head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <link href='/favicon.ico' rel='icon' />

    {{ block "head-title" . }}
        <title>{{ .Title }} | {{ site.Title }}</title>
    {{ end }}

    {{ block "head-style" . }}
        {{ range .Site.Params.stylesheets }}
            <link rel='stylesheet' href='{{ . }}'>
        {{ end }}
    {{ end }}
</head>

<body>
    {{ block "header" . }}
        <header>
            {{ block "header-title" . }}
                <a class='title' href='{{ site.BaseURL }}'>{{ site.Title }}</a>
            {{ end }}

            {{ block "header-nav" . }}
                <nav>
                    <ul>
                        {{ range .Site.Menus.main }}
                            {{ if .URL }}
                                <li>
                                    <a href='{{ .URL }}'>{{ .Title }}</a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            {{ end }}
        </header>
    {{ end }}

    {{ block "main" . }}
        <main>
            {{ block "title" . }}
                <h1>{{ .Title }}</h1>
            {{ end }}

            {{ block "content" . }}
                <div>{{ .Content }}</div>
            {{ end }}
        </main>
    {{ end }}

    {{ block "footer" . }}
        <footer>
            {{ block "copyright" . }}
                <div role='copyright'>
                    {{ .Site.Copyright }}
                </div>
            {{ end }}
        </footer>
    {{ end }}
</body>

</html>
